graft docs
graft examples
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .isort.cfg
include .pylintrc

include *requirements.txt

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include COPYRIGHT
include README.rst
include TODO.rst

include *.ini
include *.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib
